* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.comment {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	margin-top: 1.5rem;
}
.comment-logo {
	width: 2rem;
	margin-right: 1rem;
}

.comment-input {
	padding: 0.5rem;
	    border: 0.1rem solid #c2c2c2;
	border-radius:0.5em;
	width: 120%;
}

.comment button{
	margin-left: 3rem; 
	background-color: rgb(0, 106, 255);
	color: white;
	border-radius: 5px;
	border: none;
	padding: 0.5rem;
}

.comment-display {
	margin: 1.5rem;
		/* border: 0.1rem solid #c2c2c2; */
		padding: 0.5rem
;
}

.comment-time{
	font-size: small;
	padding-left: 0.5rem;
	color: gray;
}

.user-comment{
	font-size: small;
	padding-top: 0.5rem;
}

.comment-reply{
		font-size: smaller;
	padding: 0.8rem 0;
	color: gray;
}
